/**********************
* Layout
**********************/
//////////////////////////
//    variables
//////////////////////////
@background-color-layout: #D7E4F2;

//////////////////////////
//    css
//////////////////////////
div.w2ui-layout {
		overflow: hidden;
		border: 0px;
		margin: 0px;
		padding: 0px;
		outline: 0px;
		&, & * {
			.box-sizing;
		}
		div.w2ui-panel {
			display: none;
		}
		div.w2ui-splitter {
			display: none;
			&:hover, &.active {
				background-color: @background-color-layout;
			}
		}
	}



