/********************************************************
*       Dialog & Popup 
********************************************************/
//////////////////////////
//    variables
//////////////////////////
@background-color-popup-main : #F1F1F1;

@border-popup : 1px solid #777;
@background-color-popup: @background-color-popup-main;
@color-shadow-popup : #555;
@color-popup: black;
@border-popup-title: 2px solid #BFBFBF;
@color-popup-title: #555;
@linear-gradient-popup-title-start : #DFDFDF;
@linear-gradient-popup-title-end : #ECECEC;
@border-popup-msg-buttons: 1px solid #d5d8d8;
@background-color-popup-msg-buttons: @background-color-popup-main;
@background-color-popup-buttons-child : inherit;
@border-popup-buttons-button : inherit;
@background-color-popup-buttons-button-hover : inherit;
@color-popup-buttons-button-hover : inherit;
@background-color-popup-buttons-button-active : inherit;
@color-color-popup-buttons-button-active : inherit;
@background-color-popup-msg-max: #ccc;
@border-popup-msg-max: 1px solid #aaa;
@border-popup-msg-button: 1px solid transparent;
@color-popup-msg-button: transparent;
@background-color-popup-msg-close: #ccc;
@border-popup-msg-close: 1px solid #aaa;
@background-popup-color-msg-body: @background-color-popup-main;
@background-color-popup-message: #F9F9F9; 
@border-popup-message: 1px solid #aaa; 
@shadow-color-popup-message :  #aaa;


//////////////////////////
//    css
//////////////////////////
div.w2ui-popup {
    	font-family: verdana;
		border-radius: 6px;
		padding: 0px;
		margin: 0px;
		border: @border-popup;
		background-color: @background-color-popup;
		box-shadow: 0px 0px 25px @color-shadow-popup;
        &,* {
            .box-sizing;
            text-shadow: 0px 0px 0px transparent;
    		color: @color-popup;
    	}
        div.w2ui-msg-title {
            	padding: 6px;
        		border-radius: 6px 6px 0px 0px;
                .linear-gradient-vertical( @linear-gradient-popup-title-start, @linear-gradient-popup-title-end);                
        		border-bottom: @border-popup-title;
        		position: absolute;
        		overflow: hidden;
        		height: 32px;
        		left: 0px;
        		right: 0px;
        		top: 0px;
        		text-overflow: ellipsis;
        		text-align: center;
                .user-select;
        		cursor: move;
        		font-size: 15px;
        		color: @color-popup-title;
        	}
            div.w2ui-msg-buttons {
            	padding: 8px;
            	border-radius: 0px 0px 6px 6px;
            	border-top: @border-popup-msg-buttons;
            	background-color: @background-color-popup-msg-buttons;
            	text-align: center;
            	position: absolute;
            	overflow: hidden;
            	height: 42px;
            	left: 0px;
            	right: 0px;
            	bottom: 0px;
            	z-index: 1021;
				* {
 		           border-radius : 3px;
				   background-color : @background-color-popup-buttons-child;
				}
                input[type="button"] {
				   border : @border-popup-buttons-button;
					&:hover {
					   background-color : @background-color-popup-buttons-button-hover;
					   color : @color-popup-buttons-button-hover;
					}
					&:active {
					   background-color : @background-color-popup-buttons-button-active;
					   color : @color-color-popup-buttons-button-active;
 	            }
 	            }
            }
            div.w2ui-msg-button {
        		float: right;
        		width: 18px;
        		height: 18px;
        		cursor: pointer;
        		overflow: hidden;
        		padding: 0px;
        		margin: 0px 3px 0px 0px;
        		.background-image( @image-msg-button, no-repeat, center, left);
        		background-position: 0px 0px;
        		color: @color-popup-msg-button !important;
        		border-radius: 3px;
        		border: @border-popup-msg-button;
        	}
            div.w2ui-msg-close {
        		margin-top: 0px;
        		background-position: -32px 0px;
                &:hover {
		            background-color: @background-color-popup-msg-close;
		            border: @border-popup-msg-close;
	            }
        	}
            div.w2ui-msg-max {
		        background-position: -16px 0px;
                &:hover {
		            background-color: @background-color-popup-msg-max;
		            border: @border-popup-msg-max;
	            }
	        }
            div.w2ui-msg-body {
        		font-size: 13px;
        		line-height: 130%;
        		padding: 7px;
        		background-color: @background-popup-color-msg-body;
        		position: absolute;
        		overflow: auto;
        		width: 100%;
        		height: 100%;
        	}
            div.w2ui-msg-no-title {
        		border-top-left-radius: 6px;
        		border-top-right-radius: 6px;
        		top: 0px !important;
        	}
            div.w2ui-msg-no-buttons {
        		border-bottom-left-radius: 6px;
        		border-bottom-right-radius: 6px;
        		bottom: 0px !important;
        	}
}

div.w2ui-box1, div.w2ui-box2 {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 32px;
	bottom: 35px;
}


div.w2ui-popup-message {
	background-color: @background-color-popup-message; 
	border: @border-popup-message; 
	box-shadow: 0px 0px 15px @shadow-color-popup-message;
    .box-sizing; 
	border-top: 0px; 
	border-radius: 0px 0px 6px 6px; 
}