/****************************
*       tabs
****************************/
//////////////////////////
//    variables
//////////////////////////
@background-color-tabs: #efefef;
@border-tabs-tab: 1px solid silver; 
@border-bottom-tabs-tab: 1px solid transparent;
@background-color-tabs-tab-active: #fff;
@border-tabs-tab-close: 2px solid transparent;

//////////////////////////
//    css
//////////////////////////
div.w2ui-tabs {
		cursor: default;
		border-bottom: 1px solid silver;
		background-color: @background-color-tabs;
		padding: 2px 5px 0px 5px;
        div {
            &.w2ui-tab {
        		padding: 5px 20px;
        		text-align: center;
        		border: @border-tabs-tab;
        		border-bottom: @border-bottom-tabs-tab;
        		white-space: nowrap;
        		margin: 1px 1px -1px 0px;
        		border-top-left-radius: 4px;
        		border-top-right-radius: 4px;
        		cursor: default;
                &.active {
            		background-color: @background-color-tabs-tab-active;
            	}
        	}
            &.w2ui-tab-close {
        		float: right;
        		margin: 4px 5px 0px 4px;
        		width: 12px;
        		height: 16px;
				.background-image( @image-tab-close, no-repeat, center, left);
        		border: @border-tabs-tab-close;
        		border-left: 0px;
                &:hover {
            		background-position: -12px 0px;
            	}
        	}
        }
	}