<div class="content">
    <div id="example_title">
        <h1>Simple Layout</h1>
        This simple layout below has 3 panels, none of them are resizable. Layouts can be completely transparent, however, in the
        example below I have define border and background to see its structure.
        The layout listens window resize event and resizes itself when window is resized. Try to resize the window and
        see how layout picks up the new size.
    </div>
    <div id="example_view"></div>
    <div id="example_code"></div>
</div>

<!--CODE-->
<div id="layout" style="width: 900px; height: 400px;"></div>

<!--CODE-->
<script type="module">
import { w2layout } from '__W2UI_PATH__'

let pstyle = 'border: 1px solid #efefef; padding: 5px'
new w2layout({
    box: '#layout',
    name: 'layout',
    panels: [
        { type: 'top', size: 50, style: pstyle, html: 'top' },
        { type: 'left', size: 200, style: pstyle, html: 'left' },
        { type: 'main', style: pstyle, html: 'main' }
    ]
})
</script>
