<div class="content">
    <div id="example_title">
        <h1>When Content is Removed</h1>
        <p>
        If you need to do a clean up once new content was loaded into the panel and old one was removed, you can use either onChange event,
        or a promise like removed() function.
        </p>

    </div>
    <div id="example_view"></div>
    <div id="example_code"></div>
</div>

<!--CODE-->
<div id="layout" style="width: 100%; height: 300px;"></div>

<div style="height: 20px;"></div>

<button class="w2ui-btn" onclick="content1()">Content 1</button>
<button class="w2ui-btn" onclick="content2()">Content 2</button>
<span id="log"></span>

<!--CODE-->
<script>
$(function () {
    var pstyle = 'border: 1px solid #efefef; padding: 5px;';
    $('#layout').w2layout({
        name: 'layout',
        panels: [
            { type: 'left', size: 200, resizable: true, style: pstyle, html: 'left' },
            { type: 'main', style: pstyle, html: 'main',
                callBack(event) {
                    $('#log').html('Original content is removed')
                }
            }
        ],
        onChange(event) {
            console.log('Content changed', event)
        }
    })
})

function content1() {
    w2ui.layout
        .html('main', 'Content of the panel')
        .removed(removed)
}

function content2() {
    w2ui.layout
        .html('main', 'Some other content')
        .removed(removed)
}

function removed(event) {
    $('#log').html(`Panel: ${event.panel}, content "<span style="color: gray">${event.html}</span>" is replaced
        with "<span style="color: gray">${event.html_new}</span>"`)
}
</script>
