<div class="content">
    <div id="example_title">
        <h1>When Content is Removed</h1>
        <p>
        If you need to do a clean up once new content was loaded into the panel and old one was removed, you can use either onChange event,
        or a promise like removed() function.
        </p>

    </div>
    <div id="example_view"></div>
    <div id="example_code"></div>
</div>

<!--CODE-->
<div id="layout" style="width: 900px; height: 300px;"></div>

<div style="height: 20px;"></div>

<button class="w2ui-btn" onclick="content1()">Content 1</button>
<button class="w2ui-btn" onclick="content2()">Content 2</button>
<span id="log"></span>

<!--CODE-->
<script type="module">
import { w2layout, query } from '__W2UI_PATH__'

let pstyle = 'border: 1px solid #efefef; padding: 5px'
let layout = new w2layout({
    box: '#layout',
    name: 'layout',
    panels: [
        { type: 'left', size: 200, resizable: true, style: pstyle, html: 'left' },
        { type: 'main', style: pstyle, html: 'main',
            callBack(event) {
                query('#log').html('Original content is removed')
            }
        }
    ],
    onChange(event) {
        console.log('Content changed', event)
    }
})

window.content1 = function() {
    layout
        .html('main', 'Content of the panel')
        .removed(removed)
}

window.content2 = function() {
    layout
        .html('main', 'Some other content')
        .removed(removed)
}

function removed(event) {
    query('#log').html(`Panel: ${event.panel}, content "<span style="color: gray">${event.html}</span>" is replaced
        with "<span style="color: gray">${event.html_new}</span>"`)
}
</script>
