<div class="content">
    <div id="example_title">
        <h1>Promises</h1>
        <p>
            Load and message methods will now return a promise which is resolved when html is inserted into the DOM and ready.
        </p>

    </div>
    <div id="example_view"></div>
    <div id="example_code"></div>
</div>

<!--CODE-->
<div id="layout" style="width: 900px; height: 300px;"></div>

<div style="height: 20px;"></div>

<button class="w2ui-btn" onclick="showMessage('main')">Show Message</button>
<button class="w2ui-btn" onclick="loadContent('main', 1)">Load Content 1</button>
<button class="w2ui-btn" onclick="loadContent('main', 2)">Load Content 2</button>
<span id="msg-log"></span>

<!--CODE-->
<script type="module">
import { w2layout, query } from '__W2UI_PATH__'

let pstyle = 'border: 1px solid #efefef; padding: 5px'
let layout = new w2layout({
    box: '#layout',
    name: 'layout',
    panels: [
        { type: 'left', size: 200, resizable: true, style: pstyle, html: 'left' },
        { type: 'main', style: pstyle, html: 'main' }
    ]
})

window.loadContent = function(panel, ind) {
    query('#msg-log').html('')
    layout
        .load(panel, `data/content${ind}.html`)
        .then(event => {
            query('#msg-log').html(`content ${ind} is loaded`)
        })
}

window.showMessage = function(panel) {
    query('#msg-log').html('')
    layout
        .message('main', {
            width: 300,
            height: 150,
            body: '<div class="w2ui-centered">Some Text '+ Date.now() +'</div>',
            actions: {
                Ok() {
                    layout.message('main')
                }
            }
        })
        .then(event => {
            query('#msg-log').html('message is ready')
        })
}
</script>
