<div class="content">
    <div id="example_title">
        <h1>Event Listeners</h1>
        As with any w2ui widget, the panel follows common event flow. In example below you can see how to listen to all events dispatched to
        the layout.
    </div>
    <div id="example_view"></div>
    <div id="example_code"></div>
</div>

<!--CODE-->
<button class="w2ui-btn" onclick="clearLog()">Clear Events</button>
<div style="height: 10px"></div>

<div id="layout" style="width: 900px; height: 400px;"></div>
<br>
<input type="checkbox" id="instant" onclick="window.instant = this.checked;"> <label for="instant">Instant</label>
<div style="height: 10px;"></div>

<button class="w2ui-btn" onclick="action('toggle', 'top', window.instant)">Top</button>
<button class="w2ui-btn" onclick="action('toggle', 'left', window.instant)">Left</button>
<button class="w2ui-btn" onclick="action('toggle', 'right', window.instant)">Right</button>
<button class="w2ui-btn" onclick="action('toggle', 'preview', window.instant)">Preview</button>
<button class="w2ui-btn" onclick="action('toggle', 'bottom', window.instant)">Bottom</button>

<!--CODE-->
<script type="module">
import { w2layout, query } from '__W2UI_PATH__'

let pstyle = 'border: 1px solid #efefef; padding: 5px'
let instant = false
let layout = new w2layout({
    box: '#layout',
    name: 'layout',
    panels: [
        { type: 'top', size: 50, resizable: true, hidden: true, style: pstyle, html: 'top' },
        { type: 'left', size: 200, resizable: true, hidden: true, style: pstyle, html: 'left' },
        { type: 'main', style: pstyle, html: '<div id="eventList"></div>' },
        { type: 'preview', size: '50%', resizable: true, hidden: true, style: pstyle, html: 'preview' },
        { type: 'right', size: 200, resizable: true, hidden: true, style: pstyle, html: 'right' },
        { type: 'bottom', size: 50, resizable: true, hidden: true, style: pstyle, html: 'bottom' }
    ]
})

layout.on('*', (event) => {
    console.log('Event: '+ event.type + ' Target: '+ event.target)
    console.log(event)
    let log = query('#eventList').html()
    query('#eventList').html( log + (log != '' ? '<br>' : '') + event.type + ': '+ event.target)
})

window.action = function(method, param1, param2, param3) {
    layout[method](param1, param2, param3)
}

window.clearLog = function () {
    query('#eventList').html('')
}
</script>
