<div class="content">
    <div id="example_title">
        <h1>Panel with Toolbar</h1>
        <p>
        A layout panel may be created with a toolbar. It uses w2toolbar object, therefore, you can use anything w2toolbar support. There
        is no need to define a name of the toolbar, because it will be overwritten with layout.name + '_toolbar'. It will also add toolbar.owner
        attribute that is a reference to the layout.
        </p>

        <p>
        You can dynamically load content into the main panel; this is done so you can observe the overflow behavior of the panel (scrollbars).
        </p>
    </div>
    <div id="example_view"></div>
    <div id="example_code"></div>
</div>

<!--CODE-->
<div id="layout" style="width: 900px; height: 400px;"></div>

<!--CODE-->
<script type="module">
import { w2layout } from '__W2UI_PATH__'

let pstyle = 'border: 1px solid #efefef; padding: 5px'
let layout = new w2layout({
    box: '#layout',
    name: 'layout',
    panels: [
        { type: 'top', size: 50, resizable: true, style: pstyle, html: 'top' },
        { type: 'left', size: 200, resizable: true, style: pstyle, html: 'left' },
        { type: 'main', style: pstyle, html: 'content',
            toolbar: {
                items: [
                    { type: 'check', id: 'item1', text: 'Check', img: 'icon-page', checked: true },
                    { type: 'break', id: 'break0' },
                    { type: 'menu', id: 'item2', text: 'Drop Down', img: 'icon-folder',
                        items: [
                            { text: 'Item 1', icon: 'icon-page' },
                            { text: 'Item 2', icon: 'icon-page' },
                            { text: 'Item 3', value: 'Item Three', icon: 'icon-page' }
                        ]
                    },
                    { type: 'break', id: 'break1' },
                    { type: 'radio', id: 'item3', group: '1', text: 'Radio 1', img: 'icon-page', tooltip: 'Hint for item 3', checked: true },
                    { type: 'radio', id: 'item4', group: '1', text: 'Radio 2', img: 'icon-page', tooltip: 'Hint for item 4' },
                    { type: 'spacer' },
                    { type: 'button', id: 'item5', text: 'Item 5', icon: 'w2ui-icon-check', tooltip: 'Hint for item 5' }
                ],
                onClick(event) {
                    this.owner.html('main', `EVENT: ${event.type}<br>TARGET: ${event.target}`)
                }
            }
        }
    ]
})
</script>
