<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "Web20TouchDemo"
	version 	= "1.0">

	<name>W2touch Demo</name>

	<description>
		A demo application for Web 2.0 Touch framework. You can fork it on github 
		https://github.com/web20boom/Web-2.0-Touch
	</description>

	<author href="http://web20boom.com"	email="vitmalina@gmail.com">
		Vitali Malinouski
	</author>
	
	<preference name="phonegap-version" value="1.8.1" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />'

	<icon src="images/iphone_icon.png" width="57" height="57" />
	<icon src="images/iphone_icon2.png" gap:platform="ios" width="72" height="72" />
	<icon src="images/iphone_icon_2x.png" width="114" height="114" />
	
	<gap:splash src="images/iphone_startup.png" width="320" height="480" />
	<gap:splash src="images/iphone_startup_2x.png" width="640" height="960" />
	<gap:splash src="images/iphone_startup_l.png" width="1024" height="768" />
	<gap:splash src="images/iphone_startup_p.png" width="768" height="1024" />

</widget> 
