/* General overlay */
.w2ui-overlay {
    position: absolute;
    z-index: 1300;
    opacity: 0;
    .transition(opacity, 0.3s);

    * {
        box-sizing: border-box;
    }

    .w2ui-overlay-body {
        display: inline-block;
        border-radius: 3px;
        padding: 6px 10px;
        margin-left: 10px;
        margin-top: 0px;
        background-color: rgba(60,60,60,0.9);
        color: white !important;
        font-size: 12px;
        font-family: @main-font-family;
        text-shadow: 0px 0px 3px #000; // for sharper text in a bubble
        line-height: 1.4;
        letter-spacing: 0.1px;

        &.w2ui-light {
            color: #3c3c3c !important;
            background-color: #fffde9;
            border: 1px solid #9c9c9c;
            box-shadow: 0px 0px 4px #bfbfbf;
            text-shadow: none;
        }

        &.w2ui-arrow-right:before {
            content: "";
            position: absolute;
            left: 3px;
            margin: 0;
            border: 1px solid;
            border-color: inherit;
            background-color: inherit;
            width: 7px;
            height: 7px;
            transform: rotate(135deg);
            border-top-left-radius: 20px;
            border-top-width: 0;
            border-left-width: 0;
        }

        &.w2ui-arrow-left:after {
            content: "";
            position: absolute;
            right: -7px;
            margin: 0;
            border: 1px solid;
            border-color: inherit;
            background-color: inherit;
            width: 7px;
            height: 7px;
            transform: rotate(-45deg);
            border-top-left-radius: 20px;
            border-top-width: 0;
            border-left-width: 0;
        }

        &.w2ui-arrow-top:before {
            content: "";
            position: absolute;
            top: -7px;
            margin: 0;
            border: 1px solid;
            border-color: inherit;
            background-color: inherit;
            width: 7px;
            height: 7px;
            transform: rotate(-135deg);
            border-top-left-radius: 20px;
            border-top-width: 0;
            border-left-width: 0;
        }

        &.w2ui-arrow-bottom:after {
            content: "";
            position: absolute;
            bottom: -7px;
            margin: 0;
            border: 1px solid;
            border-color: inherit;
            background-color: inherit;
            width: 7px;
            height: 7px;
            transform: rotate(45deg);
            border-top-left-radius: 20px;
            border-top-width: 0;
            border-left-width: 0;
        }
    }
    /* TODO: is it neded? */
    &.w2ui-tip-popup {    // if it is inside popup
        z-index: 1700;
    }
}

.w2ui-overlay-old {
    position: absolute;
    margin-top: 4px;
    margin-left: -17px;
    display: none;
    z-index: 1300;
    color: @overlay-color;
    background-color: @overlay-background-color;
    border-color: @overlay-background-color;
    box-shadow: @overlay-shadow;
    border-radius: 6px;
    text-align: left;

    & > div {
        border-radius: 6px;
        position: relative;
        border: @overlay-border-width solid @overlay-border-color;
    }

    table td {
        color: @overlay-color;
    }

    &:before {
        content: "";
        position: absolute;
        border-color: inherit;
    }

    &:after {
        content: "";
        position: absolute;
        border-color: inherit;
        bottom: 100%;
        left: @overlay-border-width + 1;
    }

    &.top-arrow {

        &:before {
            border-bottom: 10px solid darken(@overlay-border-color, 3%);
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
            bottom: 100%;
            margin-bottom: -@overlay-border-width + 1;
        }

        &:after {
            border-bottom: (12px - @overlay-border-width - 1) solid black;
            border-bottom-color: inherit;
            border-right: (12px - @overlay-border-width - 1) solid transparent;
            border-left: (12px - @overlay-border-width - 1) solid transparent;
            bottom: 100%;
            margin-bottom: -@overlay-border-width;
        }
    }

    &.bottom-arrow {

        &:before {
            border-top: 10px solid darken(@overlay-border-color, 3%);
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
            top: 100%;
            margin-top: -@overlay-border-width;
        }

        &:after {
            border-top: (12px - @overlay-border-width - 1) solid black;
            border-top-color: inherit;
            border-right: (12px - @overlay-border-width - 1) solid transparent;
            border-left: (12px - @overlay-border-width - 1) solid transparent;
            top: 100%;
            margin-top: -@overlay-border-width;
        }
    }

    &.w2ui-overlay-popup {    // if it is inside popup
        z-index: 1700;
    }

    .w2ui-grid-searches {
        border-top: @overlay-border-width solid @overlay-border-color !important;
    }

    .w2ui-no-color {
        border: 1px solid #eee;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEX/////TgCFoIUYAAAAGUlEQVR42uXHIQEAAACDsNO/NJ4Kn9uC8wsJkAARUrXAjwAAAABJRU5ErkJggg==');
        background-size: 15px 15px;
    }

    .w2ui-menu-search {
        position: absolute;
        top: 0px;
        height: 40px;
        left: 0px;
        right: 0px;
        border-bottom: 1px solid #d7d7d7;
        background-color: #ffffff;
        padding: 6px 6px;
        border-radius: 5px 5px 0 0;

        input#menu-search {
            width: 100% !important;
            padding-left: 25px;
        }

        .w2ui-icon-search {
            position: absolute;
            margin-top: 7px;
            margin-left: 6px;
            width: 18px;
            background-position: left !important;
            color: #727272;
            font-size: 13px;
        }
    }
}

/* Color overlay */
.w2ui-colors {
    padding: 5px;
    padding-bottom: 0px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    width: 255px;
    height: 220px;

    * { .box-sizing; }

    input:focus {
        outline: none;
        border: 1px solid #999;
    }

    .w2ui-color-tabs {
        display: flex;
        background-color: #f7f7f7;
        height: 30px;
        margin: 10px -5px 0px -5px;
        border-top: 1px solid #d6d6d6;

        .w2ui-color-tab {
            display: inline-block;
            width: 40px;
            height: 25px;
            border: 1px solid transparent;
            border-radius: 1px;
            margin: -1px 4px;
            text-align: center;
            font-size: 15px;
            padding-top: 1px;
            color: #7b7b7b;

            &.selected {
                color: #555;
                background-color: white;
                border: 1px solid #e0e0e0;
                border-top: 1px solid transparent;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .w2ui-icon {
                width: 30px
            }
        }
    }

    .w2ui-tab-content.tab-1 {
        width: 216px;
        .w2ui-color-row {
            display: flex;
            .w2ui-color {
                cursor: default;
                text-align: center;
                display: inline-block;
                width: 17px;
                height: 17px;
                padding: 6px;
                margin: 1.5px;
                border: 1px solid transparent;
                &:hover {
                    outline: 1px solid #666;
                    border: 1px solid #fff;
                }
                &.w2ui-no-color {
                    border: 1px solid #efefef;
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEX/////TgCFoIUYAAAAGUlEQVR42uXHIQEAAACDsNO/NJ4Kn9uC8wsJkAARUrXAjwAAAABJRU5ErkJggg==) 15px 15px;
                }
                &.w2ui-selected:before {
                    content: '\2022';
                    position: relative;
                    left: -1px;
                    top: -8px;
                    color: white;
                    font-size: 14px;
                    text-shadow: 0px 0px 2px #222;
                }
            }

        }
    }

    .w2ui-tab-content.tab-2 {
        height: 176px;
        padding: 1px 2px;

        .palette {
            position: relative;
            width: 150px;
            height: 125px;
            outline: 1px solid #d2d2d2;

            .palette-bg {
                height: 100%;
                background-image: linear-gradient(0deg, #000000, rgba(204, 154, 129, 0));
                pointer-events: none;
            }
        }

        .rainbow {
            position: relative;
            width: 150px;
            height: 12px;
            margin: 10px 0px 0px 0px;
            background: linear-gradient(90deg, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
        }

        .alpha {
            position: relative;
            width: 150px;
            height: 12px;
            margin: 10px 0px 0px 0px;
            background-color: #fff;
            background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb),
                              linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb);
            background-size: 12px 12px;
            background-position:0 0, 6px 6px;

            .alpha-bg {
                height: 100%;
                background-image: linear-gradient(90deg, rgba(80, 80, 80, 0) 0%, rgba(80, 80, 80, 1) 100%);
                pointer-events: none;
            }
        }

        .value1 {
            pointer-events: none;
            position: absolute;
            top: 0px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 10px;
            border: 1px solid #999;
            background-color: transparent;
            box-shadow: 0px 0px 1px white;
            transform: translateX(-1px) translateY(-1px);
        }

        .value2 {
            pointer-events: none;
            position: absolute;
            top: -2px;
            display: inline-block;
            width: 8px;
            height: 16px;
            border-radius: 2px;
            border: 1px solid rgb(105, 105, 105);
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 1px white;
            transform: translateX(-1px);
        }

        .color-info {
            float: right;
            width: 80px;
            margin-left: 158px;
            margin-top: 0px;

            .color-preview-bg {
                box-shadow: 0 0 1px #c3c3c3;
                height: 40px;
                background-color: #fff;
                background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb),
                                  linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb);
                background-size: 16px 16px;
                background-position:0 0, 8px 8px;
                margin-bottom: 10px;
            }

            .color-preview, .color-original {
                height: 40px;
                width: 40px;
                float: left;
            }

            .color-part {
                padding-top: 5px;
                span {
                    display: inline-block;
                    width: 7px;
                    margin-left: 1px;
                    color: #666;
                }
                input {
                    font-size: 10px;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    width: 26px;
                    padding: 2px;
                    color: #333;
                }
            }

        }
    }
}

.w2ui-menu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    border-radius: 5px;
    overflow-x: hidden;

    table {
        font-family: @main-font-family;
        font-size: 12px;
        width: 100%;
        color: @drop-menu-color;
        background-color: @drop-menu-background-color;
        padding: 5px 0px;
        cursor: default;

        td {
            white-space: nowrap;
        }

        &.sub-menu {
            top: 0;
            background-color: #fafdff;
            border-top: 1px dotted #cccccc;
            border-bottom: 1px dotted #cccccc;

            td:first-child {
                padding-left: 10px;
            }
            td.menu-divider {
                padding-left: 16px;
            }
        }

        & .w2ui-item-even {
            color: @dropdown-item-even-color;
            background-color: @dropdown-item-even-background-color;
            &.w2ui-disabled,
            &.w2ui-disabled .w2ui-icon,
            &.w2ui-no-search-inside {
                opacity: 1;
                color: #c5c5c5 !important;
                background-color: @dropdown-item-even-background-color !important;
            }
        }

        & .w2ui-item-odd {
            color: @dropdown-item-odd-color;
            background-color: @dropdown-item-odd-background-color;
            &.w2ui-disabled,
            &.w2ui-disabled .w2ui-icon,
            &.w2ui-no-search-inside {
                opacity: 1;
                color: #c5c5c5 !important;
                background-color: @dropdown-item-odd-background-color !important;
            }
        }

        & .w2ui-item-group {
            color: #444;
            font-weight: bold;
            background-color: #ECEDF0;
            border-bottom: 1px solid #D3D2D4;
        }
        // image
        td.menu-icon {
            padding: 3px 0px 4px 6px;
            width: 20px;
            > span {
                height: 20px;
                width: 18px;
            }
        }
        td.menu-divider {
            padding: 6px;
            pointer-events: none;

            div.line {
                border-top: 1px solid silver;
                color: transparent;
                height: 0px;
                padding: 0px 25px 0 0px;
            }

            &.divider-text {
                padding: 12px 6px;

                div.text {
                    display: block;
                    position: absolute;
                    margin-top: -6px;
                    margin-left: 46%;
                    background-color: white;
                    padding: 0px 3px;
                    color: darkgrey;
                    transform: translateX(-50%);
                }
            }
        }
        // caption
        td.menu-text {
            padding: 8px 30px 8px 5px;
            width: auto;
        }
        td.menu-count {
            text-align: right;
            padding-right: 1px;
            & > span {
                border: @menu-node-count-border;
                border-radius: 20px;
                width: auto;
                height: 18px;
                padding: 2px 7px;
                margin: 3px 5px 0px 5px;
                background-color: @menu-node-count-background-color;
                color: @menu-node-count-color;
                box-shadow: @menu-node-count-shadow;
                text-shadow: @menu-node-count-text-shadow;
            }
            & > span.hotkey {
                border: none;
                border-radius: 0px;
                background-color: transparent !important;
                color: #888;
                box-shadow: none;
                text-shadow: none;
            }
            & > span.remove {
                border-color: transparent;
                background-color: transparent;
                box-shadow: none;
                padding: 2px 5px;
                &:hover {
                    color: #982525;
                    border-color: #d28d5b;
                    background-color: #f9e7e7;
                }
            }
        }

        tr.expanded,
        tr.collapsed {
            td.menu-count > span {
                border-color: transparent;
                background-color: transparent;
                box-shadow: none;
                padding: 2px 5px;
                border-radius: 0px;
                &:after {
                    content: "";
                    position: absolute;
                    border-left: 5px solid #808080;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    transform: rotateZ(-90deg);
                    pointer-events: none;
                    margin-left: -2px;
                }
                &:hover {
                    border-color: transparent;
                    background-color: transparent;
                }
            }
        }
        tr.collapsed {
            td.menu-count span:after {
                transform: rotateZ(90deg);
            }
        }

        tr:hover {
            color: @drop-menu-row-hover-color;
            background-color: @drop-menu-row-hover-background-color;
        }

        tr.w2ui-selected {
            background-color: @drop-menu-selected-background-color;
        }

        tr.w2ui-selected td {
            color: @drop-menu-selected-color;
        }

        tr.w2ui-disabled {
            opacity: 0.4;
            background-color: white !important;
        }

        .w2ui-icon {
            font-size: 14px;
            color: @drop-menu-image-color;
            display: inline-block;
            padding-top: 4px;
        }

        td.w2ui-no-items {
            padding: 5px 10px 10px 10px;
            text-align: center;
            > div.w2ui-no-items-label {
                display: inline-block;
                padding-top: 3px;
                color: #999;
            }
        }
    }
}