Options +FollowSymlinks
Options -Indexes
RewriteEngine on

# -- If file or directoy exists, rewrtie to it
RewriteCond %{REQUEST_FILENAME} -f [NC,OR] 				# NC - no case (case insensitive)
RewriteCond %{REQUEST_FILENAME} -d [NC]    				# OR - logical condition, implicit is AND
RewriteRule .* - [L]									# L - means last rule, will exit

# -- All other requests go to index.php
RewriteRule ^(.*)$ phpCache.php?page=$1&%{QUERY_STRING} [NC] # rewrite all to index.php